body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,input,option,select,textarea,option,button{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;color: #666;}
img,input,textarea,button,table,td{border: none;outline: none;}
body{font-family: arial,"microsoft yahei";background-color: #f1f2f7;}
.inner{width: 960px;margin: 0 auto;}
.clearfix:after{content: ".";clear: both;visibility: hidden;height: 0;display: block;}  /* 清除浮动 */
.hide{display: none;}

/*顶部*/
.top{background-color: #e6e9ee;border-bottom: 1px solid #fff;}
.top_nav{height: 24px;line-height: 24px;}
.top_nav li{float: right;font-size: 12px;margin: 0 5px;}
.top_nav .left{float: left;}

/*头部*/
.header{height: 94px;}
.header .logo{float: left;margin-top: 40px;}
.header .logo:hover{border-bottom: none;}
/*登录注册板块*/
.header form{float: right;width: 290px;height: 55px;margin-top: 30px;font-size: 12px;color: #212832;}
.header form a{color: #212832;}
.header .name,.header .pass{width: 116px;height: 20px;display: inline-block;border: 1px solid #ccc;padding: 0 10px;}
.header .inputBox{position: relative;}
.header .select{position: absolute;right: 13px;top: 11px;width: 9px;height: 6px;background-image: url(../images/arrow_03.jpg);}
.inputBox ul{position: absolute;left: 5px;top: 24px;width: 126px;height: 60px;line-height: 20px;font-size: 12px;color: #666;background-color: #fff;border: 1px solid #ccc;border-top: none;text-align: left;padding-left: 10px;}
.header label,.header .login,.header .select,.inputBox ul li{cursor: pointer;}
.header label input{vertical-align: -2px;margin-right: 2px;}
.header td{text-align: center;padding: 3px 5px;}
.header .btn{display: inline-block;width: 66px;height: 20px;border-radius: 2px;font-size: 12px;color: #fff;background-color: #f2a109;border:1px solid #de6a05;line-height: 20px;}
.header .login{color: #343434;background-color: #f1f1f1;border:1px solid #a0a2a1;}
.header .btn a{color: #fff;}
.header .btn a:hover{border-bottom: none;}

/*导航*/
.nav{height: 45px;background-color: #085991;}
.nav li{float: left;font-size: 16px;}
.nav li a{color: #fff;padding: 0 15px;line-height: 45px;height: 45px;display: inline-block;}
.nav li a:hover{background-color: #1d71b7;}
.nav button{float: right;width: 80px;height: 22px;border: 1px solid #40a8e5;background-color: #1b76bc;color: #fff;margin-top: 12px;font-size: 12px;border-radius: 3px;}

/*搜索*/
.search{height: 40px;background-color: #f5f9fc;border: 1px solid #cfe2f1;margin-bottom: 10px;position: relative;border-radius: 3px;}
.search .serBox{width: 290px;height: 24px;padding: 0 10px;border: 1px solid #ddd;margin: 7px 0 0 20px;}
.search select{width: 50px;height: 26px;border: 1px solid #ddd;position: absolute;left: 331px;top: 7px;color: #656660;}
.search .btn{position: absolute;left: 392px;top: 7px;width: 43px;height: 25px;background-color: #fff2d5;border: 1px solid #f8d293;font-weight: bolder;cursor: pointer;}
.search ul{position: absolute;left: 470px;top: 10px;font-size: 14px;height: 26px;height: 26px;}
.search li{margin: 0 6px;}
.search a{color: #2667bb;display: inline-block;vertical-align: -2px;}
.search a:hover{border-bottom: 1px solid #2667bb;}
.search li{float: left;}

/*底部*/
.footer{text-align: center;font-size: 12px;color: #2a3922;line-height: 24px;margin-bottom: 20px;}
.footer ul{height: 24px;display: inline-block;}
.footer ul span{margin: 0 5px;}
.footer li{float: left;}
.footer li a{color: #2a3922;}
